<div class="container-fluid">
  <h2 class="col-6">Equipos <img src="images/jugador-de-futbol.png" style="border:2px groove rgb(0, 0, 0)"></h2>
  <div class="col-6">
    <table class="table table-hover">
      <thead class="thead-dark" style="background-color: rgb(45, 34, 206)">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Group Points</th>
          <th scope="col">Country</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let equipo of equipos">
          <td>
            <dd class="equipo-name">{{equipo.name}}</dd>
          </td>

          <td>
            <dd class="equipo-group_points">{{equipo.group_points}}</dd>
          </td>

          <td>
            <dd class="equipo-country">{{equipo.country}}</dd>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
