
<div class="container-fluid">
  <p class="h3 p-3">{{ equipoDetail.name }}</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt>Diferencia de Goles</dt>
        <dd>{{ equipoDetail.goal_differential }}</dd>
        <hr />
        <dt>Letra</dt>
        <dd>{{ equipoDetail.group_letter }}</dd>
        <hr />
        <dt>Partidos Ganads</dt>
        <dd>{{ equipoDetail.wins }}</dd>
        <hr />
        <dt>Goles en Contra</dt>
        <dd>{{ equipoDetail.goals_against }}</dd>
        <hr />
        <dt>Goles a Favor</dt>
        <dd>{{ equipoDetail.goals_for }}</dd>
        <hr />
      </dl>
    </div>
  </div>
 </div>
