<div class="container-fluid">
  <h2 class="col-10">Partidos <img src="images/campo-de-futbol.png" style="border:2px groove rgb(0, 0, 0)"> </h2>
  <div class="col-10">
    <table class="table table-hover">
      <thead class="thead-dark" style="background-color: rgb(45, 34, 206)">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Datetime</th>
          <th scope="col">Away Team</th>
          <th scope="col">Home Team</th>
          <th scope="col">Location</th>
          <th scope="col">Status</th>
          <th scope="col">Winner</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partido of partidos">
          <td>
            <dd class="partido-id">{{partido.id}}</dd>
          </td>

          <td>
            <dd class="partido-datetime">{{partido.datetime}}</dd>
          </td>

          <td>
            <dd class="partido-awayTeam">{{partido.away_team.name}}</dd>
          </td>

          <td>
            <dd class="partido-homeTeam">{{partido.home_team.name}}</dd>
          </td>

          <td>
            <dd class="partido-location">{{partido.location}}</dd>
          </td>

          <td>
            <dd class="partido-status">{{partido.status}}</dd>
          </td>

          <td>
            <dd class="partido-winner">{{partido.winner}}</dd>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="container-fluid">
  <h2 class="col-8">Países con más goles marcados de local <img src="images/objetivo.png" style="border:2px groove rgb(0, 0, 0)"> </h2>
  <div class="col-8">
    <table class="table table-hover">
      <thead class="thead-dark" style="background-color: rgb(45, 34, 206)">
        <tr>
          <th scope="col">País</th>
          <th scope="col">Goles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of golesPais">
          <td>
            {{pais.pais}}
          </td>

          <td>
            {{pais.goles}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
